APP_NAME=gerenciadorpropostas
ENVIRONMENT=develop
APP_HOST=gerenciadorpropostas.develop.devops.abellinux.com
APP_PORT=18132
FRONTEND_HOST=gerenciadorpropostas.develop.devops.abellinux.com
FRONTEND_PORT=18131
VITE_API_BASE_URL=https://gerenciadorpropostas.develop.devops.abellinux.com
MSSQL_SA_PASSWORD=CHANGE_ME
Jwt__Key=CHANGE_ME
Jwt__Issuer=https://gerenciadorpropostas.develop.devops.abellinux.com
Jwt__Audience=https://gerenciadorpropostas.develop.devops.abellinux.com
TRAEFIK_NETWORK=traefik_public
TRAEFIK_ENTRYPOINTS=websecure
TRAEFIK_CERT_RESOLVER=letsencrypt
