<div id="page-wrapper" style="min-height: 898px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Fornecedores</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cadastrar Novo Fornecedor
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form (ngSubmit)="onSubmit(fornecedorForm.value)" [formGroup]="fornecedorForm">
                                <div class="form-group">
                                    <label>Fornecedor</label>
                                    <input class="form-control" placeholder="Nome da Fornecedor"
                                    formControlName="nome" required>
                                    <p class="help-block"></p>
                                </div>
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" placeholder="Email"
                                     formControlName="email" required>
                                </div>
                                <div class="form-group">
                                    <label>Telefone</label>
                                    <input class="form-control" placeholder="Telefone"
                                     formControlName="telefone" required
                                     [(AlMaskValue)]="maskTelefone" [AlMask]="maskTelefone">
                                </div>
                                <div class="form-group">
                                    <label>Cnpj/Cpf</label>
                                    <input class="form-control" placeholder="cnpjCpf"
                                     formControlName="cnpjCpf" required>
                                </div>
                                <button [disabled]="!fornecedorForm.valid" class="btn btn-lg btn-success"
                                type="submit">Salvar</button>
                                <button type="reset" (click)="resetForm()" class="btn btn-lg btn-default">Limpar formulário</button>
                                <div *ngIf="errors" class="alert alert-danger">{{error}}</div>
                            </form>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
