<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="https://www.abellopes.eti.br" overrideMode="Inherit">
    <system.web>
      <identity password="******" userName="abellopes" />
      <securityPolicy>
        <trustLevel name="Medium" originUrl=""/>
      </securityPolicy>
    </system.web>
    <!-- To customize the asp.net core module uncomment and edit the following section. 
	  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
    <system.webServer>
      <urlCompression doDynamicCompression="true" />
      <handlers>
        <remove name="aspNetCore" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
      <!-- <httpErrors errorMode="Detailed" /> -->
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 5D4C2101-06EA-48DE-98A7-993D1DC761F1-->
