<form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
  <div class="row">
    <div class="input-field col s6">
      <input class="validate" type="text" name="nome" #UserName="ngModel" [(ngModel)]="user.nome" required>
      <label data-error="Required field!">Nome</label>
    </div>
    <div class="input-field col s6">
      <input class="validate" type="password" name="senha" #Password="ngModel" [(ngModel)]="user.senha" required minlength="3">
      <label [attr.data-error]="senha.errors!=null?(senha.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input class="validate" type="text" name="Email" #Email="ngModel" [(ngModel)]="user.email" [pattern]="emailPattern">
      <label data-error="Invalid email!">E-mail</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input type="text" name="perfilUsuario" #FirstName="ngModel" [(ngModel)]="user.perfilUsuario">
      <label>Permissão</label>
    </div>
    <div class="input-field col s6">
      <input type="text" name="dataNacimento" #LastName="ngModel" [(ngModel)]="user.dataNacimento">
      <label>Last Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
    </div>
  </div>
</form>
