


<div id="page-wrapper" style="min-height: 898px;">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Categorias</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Cadastrar Nova Categoria
              </div>
              <div class="panel-body">
                  <div class="row">
                      <div class="col-lg-12">                         
                        <form [formGroup]="propostaForm" (ngSubmit)="onSubmit()" novalidate>
                            <div class="form-group">
                                <label for="name">Proposta</label>
                                <input type="text" id="nomeProposta" class="form-control"
                                        formControlName="nomeProposta" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Proposta</label>
                                <textarea type="text" id="nomeProposta" class="form-control"
                                        formControlName="nomeProposta" required><textarea></textarea>
                            </div>
                          <div class="form-group">
                              <label for="pdf">Enviar PDF</label>
                              <input type="file" #Anexo class="form-control" (change)="fileChange(propostas.files)" placeholder="Upload pdf">
                          </div>
                          <button type="submit" class="btn btn-success">
                              Save
                          </button>
                        </form>
                      </div>
                  </div>
                  <!-- /.row (nested) -->
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
