
<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
            <!-- INÍCIO DO CONTEÚDO -->
              <section class="content-header">
              </section>

              <!-- Main content -->
              <section class="content">

                <div class="jumbotron">
                  <img src="assets/img/404.png" /><h2>Página Não Encontrada</h2>
                  <p>
                    Acesse a página de <a [routerLink]="['/dashboard']">Dashboard</a>.
                  </p>
                </div>
              </section>
            <!-- FIM DO CONTEÚDO -->
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

