    <div id="page-wrapper" style="min-height: 898px;">
      <div class="row">
          <div class="col-lg-12">
             <h1 class="page-header">Página Não Encontrada</h1>
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
          <div class="col-lg-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      Editar Fornecedor
                  </div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-lg-12">
                            <div class="jumbotron">
                              <img src="assets/img/404.png" />
                              <p>
                                Acesse a página de <a routerLink="['/dashboard']">Dashboard</a>.
                              </p>
                            </div>
                          </div>
                      </div>
                      <!-- /.row (nested) -->
                  </div>
                  <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
    </div>
    