

/* cleien serach  dropdown menu */

.search-result {
    border: 0px solid #ccc;
    width: 95.0%;
    background-color:#f5f5f5;
    cursor: pointer;
    text-align: left;
    max-height: 350px;
    overflow: auto;
    position: absolute;
    z-index: 7;
}

.search-result ul {
    margin: 0px;
    padding: 0px;
    list-style-none;
}

.search-result ul li {
    border-top: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
    padding: 5px 0px 5px 10px;
}

.search-result ul li:hover {
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
    background: #bbe7ef;
}